.g-gauge .g-sector {
    stroke: #666;
    fill: transparent;
    stroke-width: 3;
}

.g-gauge .g-sector:nth-child(2) {
    stroke: #FFA500;
}

.g-gauge .g-sector:nth-child(3) {
    stroke: #FF0000;
}


.g-gauge .g-pointer {
    fill: #1e98e4;
}


.g-gauge .g-label {
    fill: #666;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

